<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>My First Vue</title>
</head>

<body>
    <header>
        <h2>Vue Course Goals</h2>
    </header>
    <div id="app">
        <div>
            <label for="goal">Goal</label>
            <input type="text" v-model="enteredValue" />
            <button @click="addGoal">Add Goal</button>
        </div>
        <p v-if="goals.length === 0">No Goals Yets</p>
        <ul v-else>
            <li v-for="(goal, index) in goals">{{ index }}. {{ goal }}</li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>

</html>